.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 2em 0;
}

.wrapper {
  margin: 0 auto;
  padding: 2em;
}

.formRow {
  & + .formRow {
    margin-top: 1em;
  }
}

.submitButton {
  float: right;
}